/* ~~~~~~~~~~~~~~~~~~~~

Sidebar CSS

~~~~~~~~~~~~~~~~~~~~~~ */


// Setting variables for menu button size
:root {
  --btn--height: 256px;

  @include for-laptop-down {
    --btn--height: calc(0.75 * 256px);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~

MOBILE SIDEBAR STYLES

~~~~~~~~~~~~~~~~~~~~~~ */

.mobile-menu-transition-block {
  height: 100vh;
  position: fixed;
  background-color: var(--pink);
  z-index: 11;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(-100%);
}

// Desktop Sidebar styles
aside.sidebar {
  overflow: visible;
  max-width: 360px;
  position: fixed;
  height: 100vh;
  border-right: var(--border-main);
  width: 25%;

  &[data-type="mobile"] {
    display: none;
    border-right: none;
    transform: translateX(-100%);
    width: 100%;
    max-width: unset;
    z-index: 10;

    @include for-tablet-down {
      display: unset;
    }
  }

  &[data-type="desktop"] {
    @include for-tablet-down {
      display: none;
    }
  }

  .d-sidebar-transition-block {
    height: 100%;
    position: absolute;
    background-color: var(--pink);
    z-index: 11;
    width: 100%;
    transform: translateY(-100%);
  }

  nav.d-sidebar-links {
    display: none;
  }

  .m-sidebar-links {
    display: flex;
  }

  nav.d-sidebar-links,
  nav.m-sidebar-links {
    width: 100%;
    background-color: var(--black);
    height: calc(100vh - var(--btn--height));
    align-items: flex-start;
    justify-content: center;
    padding: var(--space--xxl) var(--space--xl) 0 var(--space--xl);

    li {
      margin-bottom: var(--space--xl);
      position: relative;

      @include for-laptop-down {
        margin-bottom: var(--space--lg);
        font-size: var(--txt--base);
      }

      @include for-tablet-down {
        margin-bottom: var(--space--xl);
        font-size: var(--txt--sm);
      }

      @include for-phone-only {
        margin-bottom: var(--space--lg);
        font-size: var(--txt--base);
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        font-family: var(--font-primary);
        font-size: var(--txt--xsm);
        color: var(--pink);
        position: absolute;
        top: calc((var(--space--sm) * -1));
        left: calc((var(--space--sm) * -1) * 2);

        @include for-laptop-down {
          font-size: calc(var(--txt--xsm) * 0.75);
          top: calc((var(--space--sm) * -1));
          left: calc((var(--space--sm) * -1) * 1.5);
        }
      }

      &:nth-child(1)::before {
        content: '01';
      }

      &:nth-child(2)::before {
        content: '02';
      }

      &:nth-child(3)::before {
        content: '03';
      }

      a {
        color: var(--pink);
        -webkit-text-stroke: 0px var(--pink);
      }

      a:hover {
        transition: all 0.3s ease-in-out;
        -webkit-text-stroke: 1px var(--pink);
        color: transparent;
      }
    }

  }

  button {
    cursor: pointer;
  }

  .menu--btn,
  .d-book--btn,
  .m-book--btn {
    width: 100%;
    background-color: var(--pink);
    min-height: var(--btn--height);
    margin: 0;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 0;
  }

  &[data-type="desktop"] {
    .d-book--btn {
      display: none;
    }
  }


  button.m-close,
  button.d-close {
    cursor: pointer;
    position: absolute;
    top: var(--space--sm);
    right: var(--space--sm);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    display: none;

    @include for-laptop-down {
      top: var(--space--base);
      right: var(--space--base);
    }

    svg {
      outline: none;
      // 2 * π * r = C 
      // C = stroke-dasharray
      stroke-dasharray: 138.23;
      stroke-dashoffset: 138.23;
      transition: stroke-dashoffset 0.5s ease-in-out;
      transform: rotate(-90deg);
      transform-origin: center;

      &:hover {
        stroke-dashoffset: 0;
      }

      @include for-laptop-down {
        transform: scale(0.75) rotate(-90deg);
      }

      @include for-tablet-down {
        transform: scale(1) rotate(-90deg);
      }

      @include for-phone-only {
        transform: scale(0.75) rotate(-90deg);
      }
    }
  }

  .menu--txt {
    position: absolute;
    top: 28px;
    line-height: 1;
    text-align: center;
  }

  .d-book--txt {
    display: none;
    opacity: 0;
  }

  .d-book--txt,
  .m-book--txt {
    font-family: var(--font-primary);

    @include for-laptop-down {
      font-size: var(--txt--sm);
    }

    @include for-tablet-down {
      font-size: var(--txt--md);
    }

    @include for-phone-only {
      font-size: var(--txt--sm);
    }
  }

  .hamburger {
    width: 72px;
    overflow: hidden;

    .bar {
      width: 100%;
      height: 4px;
      background-color: var(--black);
      margin-bottom: var(--space--base);
    }
  }

  .name-wrapper {
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: var(--black);

    svg {
      transform: translateX(-20%);
      margin-top: var(--space--xl);
    }
  }

}

// Mobile menu specific styles
.m-sidebar--wrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 4px));
  visibility: hidden;
  pointer-events: none;
  background-color: var(--black);

  .scroll-progress--wrapper {
    height: 100%;
    width: 4px;
    background-color: rgba(245, 210, 210, 0.2);
    top: 0;
    position: absolute;
    right: -4px;
    z-index: 10;
  }

  .scroll-progress-bar {
    min-height: 117px;
    width: 4px;
    position: absolute;
    background-color: var(--pink);
    top: 0;
  }

  .btn--wrapper {
    transform: rotate(90deg);
    max-width: 44px;
  }


  button.m-menu-btn {
    background-color: var(--black);
    border: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    padding: var(--space--sm) var(--space--lg);
    cursor: pointer;
    font-size: var(--txt--xsm);
    color: var(--pink);
  }

  @include for-tablet-down {
    visibility: visible;
    pointer-events: all;
  }
}