<footer class="primary">
  <ul class="social-links">
    <li><a href="https://soundcloud.com/beaglesmusic/" target="_blank">Soundcloud</a></li>
    <li><a href="https://www.facebook.com/beaglesdj/" target="_blank">Facebook</a></li>
    <li><a href="https://www.instagram.com/derekslai/" target="_blank">Instagram</a></li>
  </ul>
  <ul class="author-information">
    <li class="has-bar">development<br> and design</li>
    <li class="bolded"><a href="https://twitter.com/jennings_hunter" target="_blank">Hunter Jennings</a></li>
  </ul>
</footer>