<!-- START: Site Metadata -->
<meta name="description" content="Official website for Washington D.C. based DJ, Beagles. Mixes, Dates, and Booking Information.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@derekslai">
<meta name="twitter:title" content="Beagles | Artist, DJ">
<meta name="twitter:image" content="TwitterShareName.jpg">
<meta name="twitter:creator" content="@derekslai">
<meta itemprop="name" content="Beagles | Artist, DJ">
<meta itemprop="description" content="Official website for Washington D.C. based DJ, Beagles. Mixes, Dates, and Booking Information.">
<meta property="og:image" content="FacebookShareName.jpg">
<meta property="og:image:width" content="1094">
<meta property="og:image:height" content="608">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.beaglesmusic.com">
<meta property="og:title" content="Beagles | Artist, DJ">
<meta property="og:description" content="Official website for Washington D.C. based DJ, Beagles. Mixes, Dates, and Booking Information.">
<link rel="icon" type="image/png" sizes="32x32" href="Favicon-lg.png">
<link rel="icon" type="image/png" sizes="16x16" href="Favicon-sm.png">
<meta name="msapplication-TileColor" content="#100C08">
<meta name="theme-color" content="#ffffff">
<!-- END: Site Metadata -->