<div class="mobile-menu-transition-block"></div>
<aside class="sidebar" data-type="mobile">
  <button data-button-type="close" class="m-close">
    <svg width="46" height="46" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(1 1)" fill="none" fill-rule="evenodd">
        <circle stroke="#F5D2D2" stroke-width="2" cx="22" cy="22" r="22" />
        <path fill="#F5D2D2" d="M17.525 15.454l4.946 4.947 4.975-4.975 2.128 2.128-4.975 4.975 4.947 4.946-2.07 2.07-4.947-4.946-4.975 4.975-2.128-2.128 4.975-4.975-4.947-4.946z" />
      </g>
    </svg>
  </button>
  <nav class="m-sidebar-links">
    <ul>
      <li class="txt--sm"><a href="/">Home</a></li>
      <li class="txt--sm"><a href="/dates.html">Dates</a></li>
      <li class="txt--sm"><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>
  <a href="mailto:dereklai6@gmail.com">
    <button class="m-book--btn" data-button-type="book">
      <div class="txt--md m-book--txt">Book</div>
    </button>
  </a>
  <div class="m-sidebar--wrapper">
    <div class="scroll-progress--wrapper">
      <div class="scroll-progress-bar"></div>
    </div>
    <div class="btn--wrapper">
      <button class="m-menu-btn" data-button-type="mobileMenu">menu</button>
    </div>
  </div>
</aside>