<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!./components/metaData.html') %>
</head>

<body>
  <div id="main-wrapper" data-barba="wrapper">
    <%= require('html-loader!./components/landscapeMessage.html') %>
    <%= require('html-loader!./components/mobileSidebar.html') %>
    <%= require('html-loader!./components/desktopSidebar.html') %>
    <main class="contact-content" data-barba="container" data-barba-namespace="contact">
      <div class="content-wrapper">
        <div class="main-content">
          <div class="header--wrapper" data-scroll>
            <h1>Work<br /> with me.</h1>
          </div>
          <div class="body--wrapper" data-scroll>
            <p><span class="greeting">Hello.</span></p>
            <p>I appreciate your interest in working with me. Please use the email link below to start the
              booking process.</p>
            <p>Serious inquires only. <span class="underline">No</span> frat parties or weddings.</p>
            <p>✌️&nbsp; <span class="bolded">Beagles</span>.</p>
          </div>
          <a class="book" href="mailto:dereklai6@gmail.com" data-scroll><button class="book">Book</button></a>
        </div>
      </div>
      <%= require('html-loader!./components/footer.html') %>
    </main>
  </div>
</body>

</html>