<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div id="main-wrapper" data-barba="wrapper">
    <%= require('html-loader!./components/mobileSidebar.html') %>
    <%= require('html-loader!./components/desktopSidebar.html') %>
    <main class="home-content" data-barba="container" data-barba-namespace="home">
      <div class="content-wrapper">
        <h2>Collections and vibes<br> from D.C. based DJ<br> known as <span class="bolded">Beagles</span>.</h2>
        <div class="music-wrapper">
          <div class="player">
            <div class="img--wrapper">
              <img
                src="https://images.unsplash.com/photo-1556458624-cc4a22b5f41b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=350&h=350&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                width="350" height="350">
            </div>
            <div class="player-controls--wrapper">
              <button class="play-pause-btn" data-buttonType="play"><img src="play.svg" width="16" height="16"></button>
              <div class="player-track--container">
                <div class="track-txt-title--wrapper">
                  <div class="track-txt-title">This is a test for a long ass title</div>
                </div>
                <div class="track-txt-time">
                  <span class="track-txt-time-elapsed">00:00</span> / <span class="track-txt-time-total">00:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="player">
            <div class="img--wrapper">
              <img
                src="https://images.unsplash.com/photo-1556458624-cc4a22b5f41b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=350&h=350&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                width="350" height="350">
            </div>
            <div class="player-controls--wrapper">
              <button class="play-pause-btn" data-buttonType="play"><img src="play.svg" width="16" height="16"></button>
              <div class="player-track--container">
                <div class="track-txt-title--wrapper">
                  <div class="track-txt-title">This is a test for a long ass title</div>
                </div>
                <div class="track-txt-time">
                  <span class="track-txt-time-elapsed">00:00</span> / <span class="track-txt-time-total">00:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="player">
            <div class="img--wrapper">
              <img
                src="https://images.unsplash.com/photo-1556458624-cc4a22b5f41b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=350&h=350&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                width="350" height="350">
            </div>
            <div class="player-controls--wrapper">
              <button class="play-pause-btn" data-buttonType="play"><img src="play.svg" width="16" height="16"></button>
              <div class="player-track--container">
                <div class="track-txt-title--wrapper">
                  <div class="track-txt-title">This is a test for a long ass title</div>
                </div>
                <div class="track-txt-time">
                  <span class="track-txt-time-elapsed">00:00</span> / <span class="track-txt-time-total">00:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="player">
            <div class="img--wrapper">
              <img
                src="https://images.unsplash.com/photo-1556458624-cc4a22b5f41b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=350&h=350&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                width="350" height="350">
            </div>
            <div class="player-controls--wrapper">
              <button class="play-pause-btn" data-buttonType="play"><img src="play.svg" width="16" height="16"></button>
              <div class="player-track--container">
                <div class="track-txt-title--wrapper">
                  <div class="track-txt-title">This is a test for a long ass title</div>
                </div>
                <div class="track-txt-time">
                  <span class="track-txt-time-elapsed">00:00</span> / <span class="track-txt-time-total">00:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="player">
            <div class="img--wrapper">
              <img
                src="https://images.unsplash.com/photo-1556458624-cc4a22b5f41b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=350&h=350&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                width="350" height="350">
            </div>
            <div class="player-controls--wrapper">
              <button class="play-pause-btn" data-buttonType="play"><img src="play.svg" width="16" height="16"></button>
              <div class="player-track--container">
                <div class="track-txt-title--wrapper">
                  <div class="track-txt-title">This is a test for a long ass title</div>
                </div>
                <div class="track-txt-time">
                  <span class="track-txt-time-elapsed">00:00</span> / <span class="track-txt-time-total">00:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="player">
            <div class="img--wrapper">
              <img
                src="https://images.unsplash.com/photo-1556458624-cc4a22b5f41b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=350&h=350&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                width="350" height="350">
            </div>
            <div class="player-controls--wrapper">
              <button class="play-pause-btn" data-buttonType="play"><img src="play.svg" width="16" height="16"></button>
              <div class="player-track--container">
                <div class="track-txt-title--wrapper">
                  <div class="track-txt-title">This is a test for a long ass title</div>
                </div>
                <div class="track-txt-time">
                  <span class="track-txt-time-elapsed">00:00</span> / <span class="track-txt-time-total">00:00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= require('html-loader!./components/footer.html') %>
    </main>
  </div>
</body>

</html>