main.contact-content {

  .content-wrapper {
    padding: var(--space--xl) var(--space--xl) 0 var(--space--xl);
    width: 100%;

    @include for-laptop-down {
      padding: var(--space--lg) var(--space--lg) 0 var(--space--lg);
    }

    @include for-tablet-down {
      padding: var(--space--lg) var(--space--md) 0 var(--space--xl);
    }

    @include for-phone-only {
      padding: var(--space--lg) var(--space--lg) 0 var(--space--xl);
    }
  }

  h1 {
    margin-bottom: var(--space--md);
  }

  p {
    margin-bottom: var(--space--sm);
    line-height: 1.5;
  }

  a.book {
    grid-column: 1 / 2;
    opacity: 0;
  }

  button.book {
    background-color: var(--pink);
    border: none;
    margin-top: var(--space--xl);
    padding: var(--space--md) var(--space--md);
    width: 100%;
    font-size: var(--txt--sm);
    cursor: pointer;
    position: relative;
    border: var(--border-main);
    transition: all 0.3s ease-in;


    @include for-phone-only {
      font-size: var(--txt-base);
    }

    &::before {
      content: '';
      border: var(--border-main);
      right: var(--space--sm);
      top: calc(var(--space--sm) * -1);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;

      @include for-phone-only {
        right: unset;
        left: var(--space--sm);
      }
    }

    &:hover {
      background-color: var(--black);
      color: var(--pink);
    }
  }

  .main-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include for-phone-only {
      grid-template-columns: 1fr;
    }
  }

  .header--wrapper {
    grid-column: 2 / -1;
    opacity: 0;

    @include for-phone-only {
      grid-column: 1 / -1;
    }

    margin-bottom: var(--space--xl);

    h1 {
      margin: 0;
      font-size: 5.8vw;

      @include for-tablet-down {
        font-size: 7vw;

      }

      @include for-phone-only {
        font-size: 10vw;
      }
    }
  }

  .body--wrapper {
    grid-column: 1 / 2;
    opacity: 0;
  }
}

.contact-information--wrapper {
  position: relative;
  padding-top: var(--space--super);

  .txt--contact,
  .txt--contact--deco {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}

:root {
  --offset-base: 8%;

  @include for-phone-only {
    --offset-base: 12%;
  }
}

.txt--contact {
  z-index: 9;
}

.txt--contact--deco:nth-of-type(2) {
  transform: translateX(-50%) translateY(var(--offset-base));
  z-index: 8;
}

.txt--contact--deco:nth-of-type(3) {
  transform: translateX(-50%) translateY(calc(var(--offset-base) * 2));
  z-index: 7;
}

.txt--contact--deco:nth-of-type(4) {
  transform: translateX(-50%) translateY(calc(var(--offset-base) * 3));
  z-index: 6;
}

.txt--contact--deco:nth-of-type(5) {
  transform: translateX(-50%) translateY(calc(var(--offset-base) * 4));
  z-index: 5;
}

.txt--contact--deco:nth-of-type(6) {
  transform: translateX(-50%) translateY(calc(var(--offset-base) * 5));
  z-index: 4;
}

.txt--contact--deco:nth-of-type(7) {
  transform: translateX(-50%) translateY(calc(var(--offset-base) * 6));
  z-index: 3;
}

.txt--contact--deco:nth-of-type(8) {
  transform: translateX(-50%) translateY(calc(var(--offset-base) * 7));
  z-index: 2;
}