// Defining variables
:root {
  --player-size: 360px;

  @include for-laptop-down {
    --player-size: 270px;
  }

  @include for-grid-break {
    --player-size: 360px;
  }

  @include for-phone-only {
    --player-size: 100%;
  }
}

main.home-content {

  .content-wrapper {
    padding: var(--space--xl) var(--space--xl) 0 var(--space--xl);
    width: 100%;

    @include for-laptop-down {
      padding: var(--space--lg) var(--space--lg) 0 var(--space--lg);
    }

    @include for-tablet-down {
      padding: var(--space--lg) var(--space--md) 0 var(--space--xl);
    }

    @include for-phone-only {
      padding: var(--space--lg) var(--space--lg) 0 var(--space--xl);
    }
  }

  // Main Header for the page

  h2 {
    margin-bottom: calc(var(--space--xxl) + var(--space--sm));
    opacity: 0;

    @include for-laptop-down {
      margin-bottom: calc(var(--space--xl) + var(--space--sm));
    }
  }
}

// Grid for music players
.music-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 9% min-content;

  @include for-grid-break {
    grid-template-columns: 1fr;
    grid-row-gap: var(--space--xl);
    justify-items: center;
  }
}

.player--link {

  opacity: 0;

  // Assign grid columns and offsets
  &:nth-child(odd) {
    grid-column: 4 / -1;
    margin-bottom: 70%;
  }

  &:nth-child(even) {
    grid-column: 2 / 3;
    margin-top: -84%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include for-grid-break {

    // Assign grid columns and offsets (mobile)
    &:nth-child(odd),
    &:nth-child(even) {
      grid-column: 1;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

// Music Player Specific Styles
.player {
  width: var(--player-size);
  height: auto;
  position: relative;
  background-color: var(--black);
  z-index: 0;
  cursor: pointer;

  .img--wrapper {
    overflow: hidden;
    position: relative;
  }

  .soundcloud-logo {
    position: absolute;
    left: var(--space--sm);
    top: var(--space--sm);
    z-index: 2;
    transform: translateY(10%);
    transition: all 0.3s ease-in-out;

    svg {
      width: 30px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  /* Captures the hover state of all of the
   player containers on the homepage */

  &:hover {
    img {
      filter: blur(2px) grayscale(1) brightness(0.5);
      transform: scale(1.03);
    }

    .soundcloud-logo {
      transform: translateY(0%)
    }

    svg {
      opacity: 1;
    }
  }



  // Boxes around player
  &:nth-child(odd)::before {
    content: '';
    width: var(--player-size);
    height: var(--player-size);
    border: var(--border-main);
    right: var(--space--sm);
    top: calc(var(--space--sm) * -1);
    display: block;
    position: absolute;
    z-index: -1;
  }

  &:nth-child(even)::before {
    content: '';
    width: var(--player-size);
    height: var(--player-size);
    background-color: var(--pink);
    right: var(--space--sm);
    top: calc(var(--space--sm) * -1);
    display: block;
    position: absolute;
    z-index: -1;
  }

  @include for-phone-only {

    &:nth-child(even)::before,
    &:nth-child(odd)::before {
      height: calc(var(--player-size) - (var(--space--sm) * 2));
      right: unset;
      left: var(--space--sm);
    }
  }

  // Player Controls Wrapper & Container Styles
  .player-controls--wrapper {
    display: flex;
    align-items: center;
    padding: var(--space--sm) 0;
  }

  .player-track--container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space--sm);
  }


  // Track Title Container Styles
  .track-txt-title--wrapper {
    overflow: hidden;
    width: 100%;
  }

  // Player Text
  .track-txt-title {
    font-size: var(--txt--xsm);
    line-height: 1.2;
    text-align: right;
  }
}